.stories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0% 3% 5% 3%
}

@media screen and (max-width: 950px) {
  .stories-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .stories-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}