header {
  height: 10%;
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 2%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  border-bottom: 1px solid black;
}